@model WebFE.Models.CompanyViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onclick="AddContent()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="companyName" class="control-label"></label>
                <input asp-for="companyName" class="form-control" />
                <span asp-validation-for="companyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="formType" class="control-label"></label>
                <input asp-for="formType" class="form-control" />
                <span asp-validation-for="formType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="versionNumber" class="control-label"></label>
                <input asp-for="versionNumber" class="form-control" />
                <span asp-validation-for="versionNumber" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <input type="submit" value="Create" class="btn-sm btn btn-primary" />
                <a class="btn-sm btn btn-outline-dark" type="button" asp-action="Index">Back to List</a>

            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
