<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/ckeditor5/src/styles.css" rel="stylesheet" />
</head>

<body data-editor="DecoupledEditor" data-collaboration="false" data-revision-history="false">
	<div class="centered">
		<div class="row">
			<p><input id="save" class="btn btn-dark btn-sm" type="submit" value="Download HTML">
		<input id="get-data" class="btn btn-dark btn-sm" type="submit" value="Save Comments"></p>
			<div class="document-editor__toolbar"></div>
		</div>
		<div class="container">
		<div class="row row-editor">
				<div class="editor"></div>

				<div class="tabs-wrapper">
					<div class="tabs">
						<button class="tabs__item active" data-target="sidebar">Comments</button>
						<button class="tabs__item" data-target="archive">Comments Archive</button>
					</div>
					<div class="sidebar active" id="sidebar"></div>
					<div class="sidebar sidebar--archive" id="archive">
						<div class="comments-archive">
							<div class="comments-archive__list"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.ckbox.io/CKBox/2.2.0/ckbox.js"></script>
    <script src="~/ckeditor5/build/ckeditor.js"></script>

    <script src="~/ckeditor5/src/script.js"></script>
</body>
</html>