@model CkeditorViewModel

@{
    ViewBag.Title = "CKEditor Example";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <!-- Include CKEditor files -->
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>

    <!-- Optional: Include a CKEditor skin (adjust the path accordingly) -->
    <link rel="stylesheet" href="https://cdn.ckeditor.com/4.16.2/standard-all/skins/moono-lisa/editor_gecko.css">
</head>
<body>
    <h1>@ViewBag.Title</h1>

    <!-- Create a div to hold CKEditor -->
    <div class="editor"></div>

    <script>
        function myFunction() {
            timeout = setTimeout(alertFunc, 3000);
        }
        function alertFunc() {
            document.querySelector('.editor').innerHTML = '@Html.Raw(Model.content)';
        }

    </script>
</body>
</html>
