<!DOCTYPE html>
<!--
	Copyright (c) 2014-2023, CKSource Holding sp. z o.o. All rights reserved.
	This file is licensed under the terms of the MIT License (see LICENSE.md).
-->

<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/ckeditor5/src/styles.css" rel="stylesheet" />
</head>
<body data-editor="ClassicEditor" data-collaboration="false" data-revision-history="true">
	<header>
		<div class="centered">
		</div>
	</header>

	<div class="centered">
		<div class="row row-editor">
			<div class="editor-container">
				<div class="editor">
		
				</div>
			</div>
			<div class="revision-viewer-container">
				<div class="editor-container">
					<div class="revision-viewer-editor"></div>
					<div class="revision-viewer-sidebar"></div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.ckbox.io/CKBox/2.2.0/ckbox.js"></script>
    <script src="~/ckeditor5/build/ckeditor.js"></script>
    <script src="~/ckeditor5/src/script.js"></script>
</body>
</html>