<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/ckeditor5/sample/styles.css" rel="stylesheet" />
</head>

<body data-editor="ClassicEditor" data-collaboration="false" data-revision-history="false">

	<div class="centered">
		<div class="row row-editor">
			<p><input id="save" type="submit" value="Submit"></p>

			<div class="editor">

			</div>
		</div>
	</div>
    <script src="~/ckeditor5/build/ckeditor.js"></script>
    <script src="~/ckeditor5/config/script.js"></script>
</body>
</html>